<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="/public/css/menu-choice.css" />
  <title>Catering</title>
</head>

<body>
  <main>
    <div class="close-btn">
      <p class="mess-sent">{{msg}}</p>
      <a href="https://casanostra.netlify.app/"><img src="/public/img/icons/close-btn.svg" alt=""></a>
    </div>
    <section class="header">
      <h1>Prix Fixe <span class="orange">Menu</span></h1>
      <div class="p">
        <p>
          Interested in an event at Casa Nostra? Maybe a wedding? Or a corporate dinner? Big birthday? No worries we
          have enough space for every situation. See down below our prix fixe menu options, remember that we can also
          make a custom menu for an ultimate experience. Get a quote is free! You will find the form at the end of the
          page.
          We serve everything family-style dinner
        </p>
      </div>
    </section>
    <section class="menu-options">
      <div class="btn-options">
        <button class="btns opt-one">Option #1</button>
        <button class="btns opt-two active">Option #2</button>
        <button class="btns opt-three">Option #3</button>
      </div>
      <div class="menu-content">
        <div class="menu-one off">
          <h1>Menu #1</h1>
          <div class="food-row-one">
            <div class="menu-item">
              <h3>Cesar Salad</h3>
              <p>Romaine heart lettuce, homemade dressing, crutons</p>
            </div>
            <div class="menu-item">
              <h3>Bruschetta</h3>
              <p>Toasted bred, fresh tomatoes, garlic, basil and oregano</p>
            </div>
            <div class="menu-item">
              <h3>Ravioli Carne Aurora</h3>
              <p>Meat ravioli served with Aurora pink sauce</p>
            </div>
          </div>
          <div class="food-row-two">
            <div class="menu-item">
              <h3>Fetuccine Gamberi</h3>
              <p>With garlic rock shrimps, tomatoes, arugola and a touch of lemon</p>
            </div>
            <div class="menu-item">
              <h3>Pork Piccata</h3>
              <p>Thinly sliced roasted pork topped with capers, lemon and white wine</p>
            </div>
            <div class="menu-item">
              <h3>Eggplant Parmigiana</h3>
              <p>Eggplant parmigiana, classic recipe</p>
            </div>
            <div class="menu-item">
              <h3>Dessert</h3>
              <p>Traditional Sicilian Cannoli</p>
            </div>
          </div>
          <div class="price">
            <p>Price $40 <span>for person</span></p>
          </div>
        </div>
        <div class="menu-two on">
          <h1>Menu #2</h1>
          <div class="menu-item">
            <h3>Polenta ai Funghi</h3>
            <p>Polenta with sautéed mushrooms</p>
          </div>
          <div class="menu-item">
            <h3>Affetati di Carne</h3>
            <p>An assortment of cured meats and cheeses of Italy</p>
          </div>
          <div class="menu-item">
            <h3>Cesar Salad</h3>
            <p>Romaine heart lettuce, homemade dressing, crutons</p>
          </div>
          <div class="menu-item">
            <h3>Spinaci</h3>
            <p>Spinach, caramelized onions, balsamic-cashew dressing, goat cheese</p>
          </div>
          <div class="menu-item">
            <h3>Ravioli Carne Aurora</h3>
            <p>Meat ravioli served with Aurora pink sauce</p>
          </div>
          <div class="menu-item">
            <h3>Gnocchi del Bosco</h3>
            <p>Homemade gnocchi in a creammy truffle sauce</p>
          </div>
          <div class="menu-item">
            <h3>Pollo al Pesto</h3>
            <p>Breaded chicken breast with fontina cheese, pesto garnished with fresh tomatoes and pinenuts</p>
          </div>
          <div class="menu-item">
            <h3>Dessert</h3>
            <p>Italian Gelato</p>
          </div>
          <div class="price">
            <p>Price $45 <span>for person</span></p>
          </div>
        </div>

        <div class="menu-three off">
          <h1>Menu #3</h1>
          <div class="menu-item">
            <h3>Antipasto Vegetariano</h3>
            <p>Grilled vegetables, giardiniera veggies, marinated artichokes</p>
          </div>
          <div class="menu-item">
            <h3>Mozzarella al Forno</h3>
            <p>Fresh baked mozzarella stuffed with pesto, wrapped in prosciutto</p>
          </div>
          <div class="menu-item">
            <h3>Green Kale</h3>
            <p>Green kale, lemon, soy sauce, red onion, goat cheese, olive oil and almonds</p>
          </div>
          <div class="menu-item">
            <h3>Nostra Salad</h3>
            <p>Mixed greens, assorted seasonal vegetables served with Italian dressing</p>
          </div>
          <div class="menu-item">
            <h3>Rigatoni alla Bolognese</h3>
            <p>Slow cooked pork and beef meat sauce</p>
          </div>
          <div class="menu-item">
            <h3>Filetto Mignon</h3>
            <p>Filet mignon with sage, port, green peppercorn and Roquefort cheese</p>
          </div>
          <div class="menu-item">
            <h3>Gnocchi al Pesto</h3>
            <p>Served with homemade pesto • pine nuts, basil, parmigiano, Romano and garlic</p>
          </div>
          <div class="menu-item">
            <h3>Eggplant Parmigiana</h3>
            <p>Eggplant Parmigiana, classic recipe</p>
          </div>
          <div class="menu-item">
            <h3>Dessert</h3>
            <p>Italian Gelato</p>
          </div>
          <div class="price">
            <p>Price $50 <span>for person</span></p>
          </div>
        </div>
      </div>
      </div>
      <section class="header top">
        <h1>For any <span class="orange">Question</span></h1>
        <div class="p">
          <p>
            We are excited to see that you are interested in hosting a private event at Casa Nostra. If you have a
            family favorite that you'd like to enjoy at your event we can easily accommodate any menu changes. Keep in
            mind that if you have a few guests in your group that have specific dietary restrictions we will be taking
            the order for those few guests ‘on the spot’ so you don't have to make previous arrangements for each guest.
          </p>
        </div>
      </section>
      <section class="get-in-touch">
        <h1 class="title">Complete the form</h1>
        <div class="wrapper">
          <form method="POST" action="send" class="contact-form row">
            <div class="form-field col x-50">
              <input name="Name" id="name" class="input-text" type="text" required>
              <label class="label" for="name">Name</label>
            </div>
            <div class="form-field col x-50">
              <input name="Email" class="input-text" type="email" required>
              <label class="label" for="email">E-mail</label>
            </div>
            <div class="form-field col x-50">
              <input name="Phone" class="input-text" type="number" required>
              <label class="label" for="phone">Phone Number</label>
            </div>
            <div class="form-field col x-50">
              <input name="GuestNumber" class="input-text" type="number" min="20" max="80">
              <label class="label" for="number">Number of guest</label>
            </div>
            <div class="form-field col x-50">
              <select class="input-text" name="MenuOptions" id="">
                <option value="Choose menu option">Choose menu option</option>
                <option value="Menu option #1">Menu option #1</option>
                <option value="Menu option #2">Menu option #2</option>
                <option value="Menu option #3">Menu option #3</option>
              </select>
            </div>
            <div class="form-field col x-50">
              <label class="label" for="start">Event date:</label>
              <input type="date" id="start" class="input-text" name="EventDate" value="" min="2020-01-01"
                max="2023-12-31">
            </div>
            <div class="form-field col x-100">
              <input name="Message" class="input-text" type="text" required>
              <label class="label" for="message">Message</label>
            </div>
            <div class="form-field col x-100 align-center">
              <button class="submit-btn" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </section>
  </main>
  <script src="/public/js/index.js"></script>
</body>

</html>