@import url("https://fonts.googleapis.com/css?family=Muli:400,700|Open+Sans&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  background: #4e4e4e;
  height: 120vw;
}

/* --- header section --- */

main {
  padding: 36px;
  margin: 28px;
  border-radius: 6px;
  text-align: center;
  background: #ffff;
}

.close-btn {
  margin: -12px;
  float: right;
  cursor: pointer;
}

.header > h1 {
  font-size: 2.4rem;
  font-family: "Muli", sans-serif;
  color: rgb(29, 29, 29);
}

.header .p {
  width: 60%;
}

/* -------------- */

/* --- menu options section --- */

.menu-options {
  margin-top: 60px;
}

button {
  outline: none;
  width: 140px;
  height: 30px;
  background: transparent;
  border-radius: 10px;
  font-family: "Open sans", sans-serif;
  font-size: 14px;
  cursor: pointer;
}

.menu-content {
  margin-top: 60px;
}

.menu-content h1 {
  font-family: "Muli", sans-serif;
  font-size: 2rem;
  color: #b11313;
}

.menu-content h3 {
  font-family: "Muli", sans-serif;
  color: rgb(54, 54, 54);
}

.menu-content p {
  font-family: "Open sans", sans-serif;
  color: rgb(102, 102, 102);
}

.price > p {
  margin-top: 50px;
  color: #b11313;
}

.food-row-one {
  padding-top: 10px;
  display: flex;
  justify-content: center;
}

.food-row-two {
  padding-top: 50px;
  display: flex;
  justify-content: center;
}

.flex-item {
  padding: 0 10px;
}

.flex-item2 {
  padding: 0 10px;
}

/* -------------- */

/* --- contact form --- */
.align-center {
  text-align: center;
}

.row {
  margin: -20px 0;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}
.row .col {
  padding: 0 20px;
  float: left;
  box-sizing: border-box;
}
.row .col.x-50 {
  width: 50%;
}
.row .col.x-100 {
  width: 100%;
}

.content-wrapper {
  min-height: 100%;
  position: relative;
}

.get-in-touch {
  width: 50%;
  margin: 100px auto -150px auto;
  position: relative;
  padding: 2rem 6rem;
  background: #ffff;
  box-shadow: 0 0.1px 0.7px -4px rgba(0, 0, 0, 0.111),
    0 0.3px 1.9px -4px rgba(0, 0, 0, 0.16),
    0 0.6px 4.5px -4px rgba(0, 0, 0, 0.209), 0 2px 15px -4px rgba(0, 0, 0, 0.32);
}

.get-in-touch .title {
  text-align: center;
  font-family: "Open sans";
  color: #e22a2a;
  letter-spacing: 3px;
  font-size: 28px;
  line-height: 48px;
  padding-bottom: 48px;
}

.contact-form .form-field {
  position: relative;
  margin: 32px 0;
}

.contact-form .input-text {
  display: block;
  width: 100%;
  height: 36px;
  border-width: 0 0 1px 0;
  border-color: rgb(167, 167, 167);
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  outline: none;
}

.contact-form .input-text:focus {
  outline: none;
}

.contact-form .input-text:focus + .label,
.contact-form .input-text.not-empty + .label {
  transform: translateY(-24px);
}

.contact-form .label {
  position: absolute;
  left: 20px;
  top: -20px;
  bottom: 11px;
  font-family: "Open sans", sans-serif;
  font-size: 16px;
  line-height: 26px;
  /* font-weight: 400; */
  color: #888;
  cursor: text;
  -webkit-transition: -webkit-transform 0.2s ease-in-out;
  transition: -webkit-transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out;
  transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
}

.contact-form .submit-btn {
  display: inline-block;
  width: 140px;
  height: 45px;
  font-size: 16px;
  border-radius: 4px;
  font-family: "Open sans", sans-serif;
  outline: none;
  cursor: pointer;
  color: rgb(246, 130, 47);
  background: transparent;
  border: solid 2px rgb(248, 138, 60);
  cursor: pointer;
}

.contact-form .submit-btn:hover {
  background: rgb(255, 167, 5);
  color: #ffff;
  border: none;
}

select,
p {
  background: transparent;
  color: rgb(110, 110, 110);
}

/* -------------- */

/* --- common classes --- */

.orange {
  color: rgb(246, 123, 35);
}

.p {
  font-family: "Open sans", sans-serif;
  display: inline-block;
  font-size: 1.2rem;
  color: rgb(58, 58, 58);
  line-height: 1.6;
}

.active {
  background-color: orange;
  color: rgb(248, 248, 248);
  height: 35px;
}

.off {
  display: none;
}

.on {
  display: block;
  animation-duration: 2.8s;
  animation-name: slidein;
  transition: ease-in;
}

.top {
  margin-top: 140px;
}

.msg-sent {
  background: rgb(95, 165, 4);
  position: absolute;
  left: 10%;
  width: 80%;
  height: 6%;
}

.msg-sent > p {
  color: #ffff;
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  margin-top: 15px;
}

.msg-sent > p::after {
  content: url(/public/img/icons/iconfinder_thumbs-up.svg);
  margin-left: 20px;
  position: absolute;
  margin-top: -2px;
}

.mess-sent {
  position: absolute;
  left: 10%;
  width: 80%;
  color: rgb(0, 134, 11);
  font-family: "Open sans", sans-serif;
  font-size: 1.2rem;
  margin-top: 15px;
}

/* -------------- */

/* --- animation --- */

@keyframes slidein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* -------------- */

/* --- media queries --- */
@media screen and (max-width: 1324px) {
  .get-in-touch {
    width: 80%;
    padding: 2rem;
  }
}

@media screen and (max-width: 768px) {
  .get-in-touch {
    width: 100%;
    padding: 2rem;
  }
}

@media screen and (max-width: 420px) {
  main {
    padding: 36px;
    margin: 8px;
    border-radius: 6px;
    text-align: center;
    background: #ffff;
  }

  .close-btn {
    margin-top: -16px;
    margin-right: -16px;
    float: right;
    cursor: pointer;
  }

  .close-btn a img {
    width: 25px;
  }

  .header .p {
    width: 80%;
  }

  .food-row-one,
  .food-row-two {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
  }

  .get-in-touch {
    width: 100%;
    box-shadow: 0 0 0;
    margin: 0 auto;
    padding: 0;
  }

  .wrapper form {
    display: grid;
    grid-template-columns: 1fr;
  }

  .row .col.x-50 {
    width: 100%;
  }

  .option {
    font-size: 10px !important;
  }
}

@media screen and (max-width: 360px) {
  main {
    margin: 0px;
  }
}

/* -------------- */
